{:kotoba.app/id "cloud.itonami.isic-2821", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreidcufefmfbkobinph24w4ykqtxjaphli5vuaqsgctdhcvklpkdiq4", :kotoba.app/embed-url "ipfs://bafkreidcufefmfbkobinph24w4ykqtxjaphli5vuaqsgctdhcvklpkdiq4", :published {:archive "https://kotobase.net/ipfs/bafkreidcufefmfbkobinph24w4ykqtxjaphli5vuaqsgctdhcvklpkdiq4", :size 72933, :put-status 201, :get-status 200, :at "2026-08-15T13:40:37.711Z"}}
